
<div class="container">

  <div class="btn-group">
    <button type="button" class="btn btn-primary" >Import Data</button>
    <button type="button" class="btn btn-primary" (click) = "onBlip()">Manage Companies</button>
    <button type="button" class="btn btn-primary" (click) = "onRip()">Company Details </button>
    <button type="button" class="btn btn-primary" (click) = "onClick()" >Manage Exchanges</button>
    <button type="button" class="btn btn-primary" (click) = "onFlick()">Update IPO details</button>

  </div>
</div>

